.title-section-container {
  padding: 0;
  margin: 0;
  gap: 0;
  position: relative;
  z-index: 1;
}

.title-section-container.menu-active {
  z-index: 1000;
}

.section {
  /* Display */
  width: 5em;
  height: 2em;
  padding: 20px;
  margin: 0;
  position: relative;
  z-index: 0;

  /* Aligns */
  text-align: center;
  align-content: center;

  /* Background */
  background-color: var(--color-secondary-shadow);

  /* Border */
  border-radius: 25px;

  /* Text */
  font-size: 25px;
  font-weight: bold;

  cursor: default;

  transition: border-radius 0.1s ease-in-out;
}

.section.open {
  /* Border */
  border-radius: 25px 25px 0 0;
}

.menu {
  /* Display */
  display: flex;
  flex-direction: column;
  position: absolute;
  width: calc(5em + 40px);
  z-index: 1000000;
  top: calc(1.5em + 65px);
  left: 50%;
  transform: translateX(-50%);
  /* Spaces */
  gap: 5px;

  /* Border */
  border-radius: 0 0 20px 20px;

  /* Background */
  background-color: var(--background-color);

  /* Animation */
  max-height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  transition: max-height 0.2s cubic-bezier(1, 0, 0, 1);
}

.menu.open {
  max-height: 500px;
}

.subsection {
  font-size: 20px;
  font-weight: 500;
  padding: 18px 0;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1000000;
}

.subsection:hover {
  color: var(--color-primary);
  background-color: var(--background-color-shadow);
  font-size: 22px;
}

.section-text {
  display: inline-block;
  transition: transform 0.2s cubic-bezier(1, 0, 0, 1);
}

.section:hover .section-text {
  transform: scale(1.1);
}
