.card {
  /* Display */
  display: flex;
  flex-direction: column;

  /* Align */
  align-items: center;
  justify-content: center;

  /* Border */
  border-radius: 25px;

  /* Background */
  background-color: #00000040;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.2);

  padding: 30px;
  gap: 10px;
}

.card.small {
  /* Spaces */
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.main-card {
  /* Spaces */
  gap: 50px;
}
