#main-info-card.small {
  justify-content: start;
  padding-top: 3em;
}

#main-info-card p {
  margin: 0px;
}

#main-info-apps-container {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Spaces */
  gap: 25px;
}

#main-info-apps-container.small {
  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Spaces */
  gap: 25px;
}


#main-info-card-title {
  /* Display */
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}

