#main-info-card {
  /* Spaces */
  padding: 40px;
  gap: 50px;
}

#main-info-card h1 {
  margin: 0px;
  font-size: 50px;
}

#main-info-card p {
  margin: 0px;
}

#main-info-apps-container {
  /* Display */
  display: flex;
  flex-direction: row;

  /* Spaces */
  gap: 25px;
}

#main-info-card-title {
  /* Display */
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}

#main-info-card-title h1 {
  font-size: 65px;
  text-align: center;
}
#main-info-card-title p {
  font-size: 30px;
  text-align: center;
}
