.button {
  background-color: var(--color-secondary-shadow);
  font-size: x-large;
  font-weight: bold;
  padding: 25px;
  border: transparent;
  border-radius: 25px;
  cursor: pointer;
}

.button-children {
  display: inline-block;
  transition: transform 0.2s cubic-bezier(1, 0, 0, 1);
}
.button-children:hover {
  transform: scale(1.1);
}
