.title-section-container {
  padding: 0;
  margin: 0;
  gap: 0;
}

.app {
  /* Display */
  width: 5em;
  height: 2em;
  padding: 10px;
  margin: 0;
  position: relative;

  /* Aligns */
  text-align: center;
  align-content: center;

  /* Background */
  background-color: var(--background-color-shadow);

  /* Border */
  border-radius: 20px;

  /* Text */
  font-size: 25px;

  cursor: default;
}

.menu {
  /* Display */
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);

  /* Spaces */
  padding: 10px;

  width: 5em;

  /* Border */
  border-radius: 0 0 20px 20px;

  /* Background */
  background-color: var(--background-color-shadow);
}
