:root {
  /* Colors */
  --color-primary: #f2bf27;
  --color-secondary: #d91b41;
  --color-tertiary: #7e0a55;
  --color-tertiary-shadow: #4e0b43;

  /* Font */
  --font-color: #f7eeee;
  --font-regular: 'Rubik';
  --font-header: 'Rubik';

  /* Background */
  --background-color: #1e0d30;
  --background-color-shadow: #210721;
  --background-color-black: #180518;
  /* Otros */
}

* {
  color: var(--font-color);
  font-family: var(--font-regular);
}

body {
  margin: 0;
  padding: 0;
}
