:root {
  /* Colors */
  --color-primary: #f2bf27;
  --color-secondary: #d91b41;
  --color-tertiary: #7e0a55;

  /* Calculated Colors - Primary */
  --color-primary-light: color-mix(in srgb, var(--color-primary) 50%, white);
  --color-primary-shadow: color-mix(in srgb, var(--color-primary) 80%, black);
  --color-primary-dark: color-mix(in srgb, var(--color-primary) 50%, black);
  --color-primary-darker: color-mix(in srgb, var(--color-primary) 30%, black);

  /* Calculated Colors - Secondary */
  --color-secondary-light: color-mix(in srgb, var(--color-secondary) 50%, white);
  --color-secondary-shadow: color-mix(in srgb, var(--color-secondary) 80%, black);
  --color-secondary-dark: color-mix(in srgb, var(--color-secondary) 50%, black);
  --color-secondary-darker: color-mix(in srgb, var(--color-secondary) 30%, black);

  /* Calculated Colors - Tertiary */
  --color-tertiary-light: color-mix(in srgb, var(--color-tertiary) 50%, white);
  --color-tertiary-shadow: color-mix(in srgb, var(--color-tertiary) 80%, black);
  --color-tertiary-dark: color-mix(in srgb, var(--color-tertiary) 50%, black);
  --color-tertiary-darker: color-mix(in srgb, var(--color-tertiary) 20%, black);

  /* Font */
  --font-color: #f7eeee;
  --font-regular: 'Rubik';
  --font-header: 'Rubik';

  /* Background */
  --background-color: #1e0d30;
  --background-color-light: color-mix(in srgb, var(--background-color) 50%, white);
  --background-color-shadow: color-mix(in srgb, var(--background-color) 80%, black);
  --background-color-dark: color-mix(in srgb, var(--background-color) 50%, black);
  --background-color-darker: color-mix(in srgb, var(--background-color) 20%, black);
  /* Otros */
}

* {
  color: var(--font-color);
  font-family: var(--font-regular);
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-tertiary-shadow);
}

.clickable:hover {
  /* border: solid 2px;
  border-color: var(--color-primary); */
  /* box-shadow: inset 0 0 1px 2px color-mix(in srgb, var(--color-primary) 100%, transparent); */
}

#main-container {
  /* Display */
  min-height: 100vh;
  height: fit-content;
  width: fit-content;
  min-width: 100vw;
  display: flex;
  flex-direction: column;

  /* Aligns */
  align-items: center;
  justify-content: center; /* Background */
  background: linear-gradient(0deg, var(--color-tertiary-shadow) 0%, var(--background-color) 100%);
}

h1 {
  margin: 0px;
  font-size: 4em;
  text-align: center;
}

h1.small {
  font-size: 3em;
}

p {
  font-size: 2em;
  text-align: center;
}

p.small {
  font-size: 1.5em;
}